DATA_PATH=../data/cortex.parquet
SYNTHETIC_DATA=true

LANGSMITH_TRACING=true
LANGSMITH_API_KEY=<your-key-here>

MODEL_TYPE=openai
MODEL_NAME=gpt-4o-mini
OPENAI_API_KEY=<your-key-here>
GEMINI_API_KEY=<your-key-here>
ANTHROPIC_API_KEY=<your-key-here>